:root {
    /*for variables*/
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: #000000;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    /*overflow: hidden;*/ 
}

#main-grid {
    display: grid;
    max-height: 100vh;
    max-width: 100vw;
    grid-template-columns: 55% 40% 1fr;
    grid-template-rows: 1fr 70vh 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas:
        "header  header   header"
        "agenda  maps     floorname"
        "agenda indicator indicator"
        "footer  footer   footer"
    ;
}

header{
    grid-area: header;
    padding: 30px 0;
}

header h1 {
    font-weight: bold;
    font-size: 3.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

/**
* Agenda
*/

#agenda {
    grid-area: agenda;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-left: 5rem;
}

#agenda-current {
 margin-right: 1.2rem;
}

.agenda-title {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-bottom: 1.2rem;
}

.agenda-item {
    display: flex;
    flex-direction: row;
}

.agenda-item .time {
    height: 100%;
    font-size: 16px;
    width: 50px;
    text-align: right;
    margin-top: 1rem;
}

.agenda-item .detail-wrapper {
    border-left: 5px solid #ffffff;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 0.8rem;
    width: 100%;
}

.agenda-item .detail {
    width: 100%;
    border: solid 4px #F0AB00;
    border-radius: 1.5rem;
    padding: 0.6rem 1rem;
}
.agenda-item:last-child >.detail{
    margin-bottom: 1.5rem;
}

.agenda-item .detail>.title {
    font-size: 1.4rem;
}

.agenda-item .detail>.room {
    font-size: 1rem;
}

/**
* Maps
*/

#maps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#maps img {
    max-height: 100%;
}

#maps .map {
    max-height: 44%;
}

#maps .active {
    order: 99;
    align-self: stretch;
    max-height: 95%;
}

#floorname {
    grid-area: floorname;
    position: relative;
    margin-left: -3rem;
}

#floorname span {
    font-size: 3rem;
    display: inline-block;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(90deg);
}

/**
* Indicator
*/

#indicator {
    grid-area: indicator;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indicator>.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    border: solid 3px white;
    margin: 0.5rem;
    /*TODO: add zoom / scale up and down w/ bounce!*/
    transition: 400ms ease-in-out;
}

#indicator>.active {
    background: white;
}

/**
* Footer
*/

footer {
    grid-area: footer;
}

footer #logo {
    height: 4rem;
    margin: 1rem;
}