:root {
  /*for variables*/
}
*,
*:before,
*:after {
  box-sizing: border-box;
 }
body {
    color: white;
    background: black;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 25px;
    line-height: 25px;
}

#main-grid {
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 100px 90px 1fr 100px 60px 100px;
    grid-template-columns: 130px 90px 1fr 450px 600px;
    /*grid-row-gap: 20px;*/
    grid-template-areas:
        "name name name name   ."
        ".    .    .    .      ."
        ".    prgm prgm prev   map"
        ".    time agnd prev   map"
        ".    .    visi prev   map"
        ".    .    vtxt slider slider"
        ".    .    .    .      ."
        ;
}
#title {
    grid-area: name;
    font-weight: bold;
    font-size: 70px;
    line-height: 100%;
}
#agenda-title {
    grid-area: prgm;
    font-size: 45px;
    line-height: 75px
}
#time {
    grid-area: time;
    border-right: solid 5px white;
    margin-top: 2px;
    padding-top: 6px;
}
#time > .time {
    margin-bottom: calc(95px - 25px) /*total one item height - font-size*/
}
#agenda {
    grid-area: agnd;
    background: black;
}
/*one item total height: 95*/
#agenda > .item {
    box-sizing: content-box;
    height: calc(65px - 2*5px);    /*intended size - padding*/
    border: solid 4px #F0AB00;
    border-radius: 25px;
    margin-bottom: 22px;
    margin-left: 32px;
    margin-right: 50px;
    padding: 5px 22px;
}
#agenda > .item > .room {
    font-size: 0.7em;
}
#prev {
    grid-area: prev;
}
#map {
    grid-area: map;
}
/*remove after getting rid of mockup img's*/
.tmp-img > img {
    height: 100%;
    max-width: 100%;
    display: block;
    margin: auto;
}
#slider {
    grid-area: slider;
    display: flex;
    justify-content: center;
    align-items: center;
}
#slider > .circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 3px white;
    margin: 8px;
    transition: 300ms ease-in-out;
}
#slider > .active {
    background: white;
}
.code {
    height: 0;
    width: 0;
}
