:root {
    /*for variables*/
}

*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    background: #000000;
    /*margin: 3rem;*/
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
    /*just disabled for testing*/
    /*overflow: hidden;*/
}

#main-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 55% 45%;
    grid-template-rows: auto 1fr auto;
    grid-gap: 1rem;
    grid-template-areas:
        "header  header"
        "agenda  maps"
        "footer  footer"
    ;
}

header{
    grid-area: header;
    padding: 30px 0;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
}

/**
* Agenda
*/

#agenda {
    grid-area: agenda;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    margin-left: 80px;
}

#agenda-current {
 margin-right: 40px;
}
.agenda-title {
    font-size: 40px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.agenda-item {
    display: flex;
    flex-direction: row;
}

.agenda-item .time {
    height: 100%;
    font-size: 16px;
    width: 50px;
    text-align: right;
}

.agenda-item .detail-wrapper {
    border-left: 5px solid #ffffff;
    padding-left: 25px;
    padding-bottom: 17px;
    margin-left: 12px;
    width: 100%;
}

.agenda-item .detail {
    width: 100%;
    border: solid 4px #F0AB00;
    border-radius: 25px;
    padding: 10px 20px;
}
.agenda-item:last-child >.detail{
    margin-bottom: 1.5rem;
}

.agenda-item .detail>.title {
    font-size: 18px;
}

.agenda-item .detail>.room {
    font-size: 12px;
}

/**
* Maps
*/

#maps {
    background: tomato;
    grid-area: maps;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-gap: 1rem;
    grid-template-areas:
        "inactive1 active"
        "inactive2 active"
        "indicator indicator"
    ;
    transition: all 2s; /*does only work for some grid properties in Firefox (yes no chrome)*/
}

#maps .map {
    display: block;
    margin: auto;
}

#maps .inactive {

}

#level-1 {
    grid-area: inactive1;
}

#level-2 {
    grid-area: inactive2;
}

#level-3 {
    grid-area: active;
}

#maps .active {
    height: auto;
}

/**
* Indicator
*/

/*Indicator not visible yet*/

#indicator {
    grid-area: indicator;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#indicator>.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: solid 3px white;
    margin: 8px;
    /*TODO: add zoom / scale up and down w/ bounce!*/
    transition: 400ms ease-in-out;
}

#indicator>.active {
    background: white;
}